<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles_report.css"/>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
        </tr>
        {% endfor %}
</body>
</html>